@model ParkingSpotHoldModel

@{
    ViewData["Title"] = "CheckOutCalculation";
    ViewBag.PageTitle = "Parking Spot was successfully released.";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td class="col-1 fw-bold" style="background-color: whitesmoke;">Parking Spot Id: </td>
                    <td class="col-1" style="background-color: whitesmoke;">@Model.PstId</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Charge for a hour: </td>
                    @{
                        if (@Model.ParkingSpotType == ParkingSpotTypesEnum.Large)
                        {
                            <td class="col-1">Rs 100.00</td>
                        }
                        else if (@Model.ParkingSpotType == ParkingSpotTypesEnum.Medium)
                        {
                            <td class="col-1">Rs 75.00</td>
                        }
                        else if (@Model.ParkingSpotType == ParkingSpotTypesEnum.Small)
                        {
                            <td class="col-1">Rs 50.00</td>
                        }
                    }
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Parking Spot: </td>
                    <td class="col-1">@Model.ParkingSpotNumber</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Parked Date: </td>
                    <td class="col-1">@Model.ParkedTime.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Parked Time: </td>
                    <td class="col-1">@Model.ParkedTime.ToShortTimeString()</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Released Date: </td>
                    <td class="col-1">@Model.ReleasedTime.Value.ToShortDateString()</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Released Time: </td>
                    <td class="col-1">@Model.ReleasedTime.Value.ToShortTimeString()</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Parking Spot Type: </td>
                    <td class="col-1">@Model.ParkingSpotType</td>
                </tr>
                <tr>
                    <td class="col-1 fw-bold">Total Amount: </td>
                    <td class="col-1">Rs @Model.TotalAmount.ToString("0.00")</td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <button class="btn btn-outline-danger">Print the Receipt.</button>
        </div>
    </div>
</div>

